* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #9ab478;
    padding-top: 80px;
}

.fundo {
    margin: 5% 15%;
    background: white;
    border-radius: 20px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0a320c;
    z-index: 1000;
}

.logo {
    position: absolute;
    left: 20px;
    width: 40px;
    height: 60px;
    object-fit: cover;
}

.menu {
    background-image: url("/imagens/menu.png");
    background-size: contain;
    background-repeat: no-repeat;

}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    list-style: none;
}

.menu li {
    margin: 0 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}



.card {
    height: 50vh;
    background: url("/imagens/campo.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    width: 80%;
    padding: 30px;
    border-radius: 25px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

    text-align: center;
}





.titulo h1 {
    color: #0a320c;
    font-size: 35px;
}

.titulo p {
    color: #0a320c;
}

.galeria {
    padding: 60px 20px;
}


.container-carrossel {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    align-items: stretch;
}

.card-solo {
    width: 45%;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;

    display: flex;
    /* importante */
    flex-direction: column;
    justify-content: space-between;
    /* distribui igual */
}

.card-solo:hover {
    transform: translateY(-10px) scale(1.03);
}

.card-solo img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-solo h3 {
    margin: 15px 0 10px;
    color: #0a320c;
}

.card-solo p {
    padding: 0 15px 20px;
    font-size: 14px;
    color: #555;
}

.rodape-ucb {
    background: #0a320c;
    padding: 20px 40px;
}

.rodape-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

.rodape-texto p {
    color: #ffffff;
}

.rodape-logo img {
    height: 30px;
    transition: 0.3s;
}

.rodape-logo img:hover {
    transform: scale(1.1);
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
